
/*----------------------------------
  General Formatting
----------------------------------*/

* {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  background: url(../img/vegas.jpg) no-repeat center;
  background-size: cover;
}

#main-container {
  width:  800px;
  margin: 20px auto;
}

.side-signs {
  height: 400px;
  width: 200px;
  background: beige;
  border: 3px solid black;
  display: inline-block;
  vertical-align: top;
  margin-top: 100px;
}

.side-signs h2 {
  font-size: 26px;
  text-align: center;
  text-decoration: underline;
  margin: 10px auto;
}

.prize-lines {
  margin: 5px 15px;;
}

.prize-lines img{
  width: 60px;
  height: 60px;
  vertical-align: middle;
  display: inline-block;
}

.prize-lines p {
  display: inline-block;
  font-size: 18px;
}

#outer-machine-container{
  height: 650px;
  width: 370px;
  text-align: center;
  border: 5px solid black;
  border-radius: 5%;
  background: silver;
  display: inline-block;
  text-align: center;
}

#machine-name {
  height: 70px;
  padding-top: 15px;
  color: gold;
  font-family: 'Sansita One', cursive;
  font-size: 30px;
  text-decoration: underline;
  background: black;
}

#inner-machine-container {
  height: 400px;
  width: 300px;
  margin-bottom: 25px;
}



/*----------------------------------
  Screen Labels & Displays
----------------------------------*/
.display {
  background: #fff;
  border: 4px solid black;
}

.display p {
  font-size: 35px;
  display: inline-block;
  margin-bottom: 0;
}

#top-display-bar div{
  margin-bottom: 10px;
  height: 50px;
  text-align: right;
  padding-right: 10px;
  width: 91px;
  display: inline-block;
}

.single-label {
  margin-top: 6px;
}

.single-label {
  width: 91px;
  display: inline-block;
}

.single-label p{
  font-size: 12px;
  font-weight: bolder;
  display: inline-block;
}

#increase-bet,
#decrease-bet {
  font-size: 16px;
}

#win-screen {
  width: 300px;
  height: 80px;
  margin-bottom: 10px;
}

#win-screen p {
  font-size: 26px;
  padding-top: 4px;
  height: 100%;
}



/*----------------------------------
  Reels
----------------------------------*/

#main-reels {
  background: #fff;
  border: 10px solid silver;
  border-radius: 5%;
  padding-top: 2px;
}

.reel {
  display: inline-block;
  width: 85px;
  height: 80px;
  margin: 0 2.5px;
  background: #fff;
}

.top,
.middle,
.bottom {
  border-left: 4px solid black;
  border-right: 4px solid black;
  background-size: cover;
}

.top {
  border-top: 4px solid black;
  margin-bottom: -5px;
}

.bottom {
  border-bottom: 4px solid black;
  margin-top: -5px;
}


/*----------------------------------
  Buttons
----------------------------------*/
.button {
  display: inline-block;
}

.hold,
.nudge,
#spin {
  border: 3px solid #000;
  border-radius: 10px;
  font-weight: bolder;
  margin-top:10px;
}
.button:hover {
  cursor: pointer;
}

.hold, .nudge {
  width: 90px;
  height: 30px;
  background: orange;
  margin-top: 10px;
}

.hold p, .nudge p{
  padding-top: 4px;
}

#spin {
  width: 250px;
  height: 60px;
  background: red;
  margin-top: 10px;
}

#spin p {
  padding-top: 12px;
  font-size: 28px;
}

footer{
  height: viewport - 670px;;
  border-top: 5px solid black;
  background: gold;
}
